body{
    background-color: #000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Enable vertical scroll */
    scroll-behavior: smooth;
  }
  
  body::after {
    content: '';
    display: block;
    height: 100px; /* Add space to force scroll */
  }
  